.about
    .about__col.about__col--red
        .about__inner--red
            .about__title we are world wide
            .about__item
                .about__subtitle 10 reasons why USA
                .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            .about__item
                .about__subtitle 10 reasons why USA
                .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            .about__item
                .about__subtitle 10 reasons why USA
                .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    .about__col.about__col--white
        .about__inner--white
            .about__team
                .about__photo
                    img(src="images/about/1.png" alt="")
                .about__info
                    .about__header
                        .about__name Alex Doe
                        .about__prof man rider
                    .about__text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
            .about__team
                .about__photo
                    img(src="images/about/2.png" alt="")
                .about__info
                    .about__header
                        .about__name Steve Doe
                        .about__prof man rider
                    .about__text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
            .about__team
                .about__photo
                    img(src="images/about/3.png" alt="")
                .about__info
                    .about__header
                        .about__name Bill Doe
                        .about__prof man rider
                    .about__text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
    .about__moto
        img(src="images/about/Center%20Motorcycle%20Image.png" alt="")