.contact
    .contact__top
        .container
            h2.section__title Start Your Jurney
            .section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
        .contact__img
            img(src="images/icons/marker.png" alt="")
    .contact__bottom
        .container
            .contact__row
                .contact__item
                    .contact__icon
                        img(src="images/icons/mail.png" alt="")
                    .contact__info
                        .contact__title Email
                        .contact__text
                            p free@psd.ia.ua
                            p free@psd.ia.ua
                .contact__item
                    .contact__icon
                        img(src="images/icons/phone.png" alt="")
                    .contact__info
                        .contact__title Phone
                        .contact__text
                            p +123 456 7890
                            p +123 456 7890
                .contact__item
                    .contact__icon
                        img(src="images/icons/address.png" alt="")
                    .contact__info
                        .contact__title Address
                        .contact__text
                            p 123, Main Road, New City,
                            p My Country 123456
            .contact__social
                a.contact__link(href="#")
                    img(src="images/icons/1.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/2.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/3.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/4.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/5.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/6.png" alt="")
                a.contact__link(href="#")
                    img(src="images/icons/7.png" alt="")