section.section.section__features
    .container
        h2.section__title Guided motorcycle tours <span>since 1880.
        .section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
        .features__inner
            .features__col.features__col--left
                .features__row
                    .features__item
                        .features__num 1000
                            span km
                        .features__word 2 days
                    .features__item.features__item--big
                        .features__num 3000
                            span km
                        .features__word 7 days
                .features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
            .features__col.features__col--right
                .features__row
                    .features__item.features__item--big
                        .features__num 50+
                        .features__word countries
                    .features__item
                        .features__num 1000
                            span km
                        .features__word 2 days
                .features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
            .features__moto
                img(src="images/features/moto.png" alt="")