header.header
    .header__logo
        a.logo-pc(href="#")
            img(src="images/Logo.png" alt="")
        a.logo-mob(href="#")
            img(src="images/Logo_s.png" alt="")
    .header__content
        .burger
            span
        nav.nav
            a.nav__link(href="#") Home
            a.nav__link(href="#") Destinations
            a.nav__link(href="#") Motorcycles
            a.nav__link(href="#") Rentals
            a.nav__link(href="#") Blog
            a.nav__link(href="#") Contact
        .header__social
            a.social__link(href="#")
                img(src="images/icons/facebook.png" alt="")
            a.social__link(href="#")
                img(src="images/icons/g+.png" alt="")
            a.social__link(href="#")
                img(src="images/icons/vk.png" alt="")
            a.social__link(href="#")
                img(src="images/icons/in.png" alt="")

