.intro
    .container
        .intro__inner
            .intro__title 2,500 tours in over 100 destinations and 36 years of experience!
            .intro__img
                img(src="images/intro/moto.png" alt="123")