.package
    .container
        .package__inner
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/1.png" alt="")
                    .package__price
                        .package__price-text
                            p.package__price-text1 $
                                span 100
                            p.package__price-text2
                                span per person
                package__body
                    .package__title Motorcycle Expeditions
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a.package__btn(href="#") book now
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/2.png" alt="")
                    .package__price
                        .package__price-text
                            p.package__price-text1 $
                                span 100
                            p.package__price-text2
                                span per person
                .package__body
                    .package__title Mountains Motorcycle Tours
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a.package__btn(href="#") book now
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/3.png" alt="")
                    .package__price
                        .package__price-text
                            p.package__price-text1 $
                                span 100
                            p.package__price-text2
                                span per person
                .package__body
                    .package__title Motorcycle Adventure Tours
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a.package__btn(href="#") book now