.section.section__testimonials
    .container
        .section__title We are
            span  World Wide
        .section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
        .testimonials__inner
            .testimonials__col.testimonials__col--w
                .testimonials__header
                    .testimonials__photo
                        img(src="images/testimonials/1.png" alt="")
                    .testimonials__author
                        .testimonials__name John Smith
                        .testimonials__prof solo traveller
                .testimonials__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .testimonials__col.testimonials__col--img
                img(src="images/testimonials/rider.png" alt="")
