.travel
    .container
        h2.section__title travel blog
        .section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
        .package__inner
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/1.png" alt="")
                    .package__price
                        .package__price-text
                            p south east, Asia
                            p
                                span 20 may 2020
                .package__body
                    .package__title 10 reasons why USA should be on your bucket list.
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/2.png" alt="")
                    .package__price
                        .package__price-text
                            p USA
                            p
                                span 20 may 2020
                .package__body
                    .package__title 10 reasons why USA should be on your bucket list.
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            .package__item
                .package__header
                    .package__img
                        img(src="images/package/3.png" alt="")
                    .package__price
                        .package__price-text
                            p Brazil
                            p
                                span 20 may 2020
                .package__body
                    .package__title 10 reasons why USA should be on your bucket list.
                    .package__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.