@font-face {
  font-family: 'Billy Ohio';
  src: url('../fonts/BillyOhio.woff2') format('woff2'),
  url('../fonts/BillyOhio.ttf')  format('truetype'),
  url('../fonts/BillyOhio.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}